@model CMS.Web.ViewModels.ProductCategoryViewModel
@{
    ViewData["Title"] = Model.category_detail.name;
}

<!-- Main Container Starts -->
<div class="main-container container pl-sm-0 pr-sm-0">
    <h4 class="main-heading-1 text-spl-color text-center text-weight-normal">@Model.category_detail.name</h4>

    <center><p class="lead">@Model.category_detail.description</p></center>
    <div class="blog-post full text-xs-center">

        @foreach (var product in Model.products)
        {
        <div class="box-3">
            <h5 class="sub-heading-1 tiny text-medium text-xs-center">
                @product.name
            </h5>
            <p>
                @{
                    var imgSrc = "/images/";
                    if (string.IsNullOrWhiteSpace(product.file_name))
                    {
                        imgSrc += "A_blank_flag.png";
                    }
                    else
                    {
                        imgSrc += "custom/" + product.file_name;
                    }
                }
                <img src="@imgSrc" alt="Product Image" class="im-fluid img-center-xs">
            </p>
            <div class="inner">

                <p>
                    <h5 class="sub-heading-1 tiny text-medium text-xs-center">
                        Description
                    </h5>
                    @Html.Raw(product.description)
                </p>
                <p>
                    <h5 class="sub-heading-1 tiny text-medium text-xs-center">
                        Features
                    </h5>
                    @Html.Raw(product.features)
                </p>

                <p>
                    <h5 class="sub-heading-1 tiny text-medium text-xs-center">
                        Specification
                    </h5>
                    @Html.Raw(product.specification)
                </p>

            </div>
        </div>
        }
    </div>
</div>