@model LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login-Leading Edge Software</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Login Form" />
    <link href="~/adminside/css/Login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/adminside/css/Login/font-awesome.min.css" rel="stylesheet" />
    <link href="~/adminside/css/Login/admin.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>
    <br />
    <br />
    <div class="w3layouts-two-grids">
        <div class="mid-class">
            <div class="txt-left-side">
                @Html.Partial("loginMessage")
                <h2> Login Here </h2>
                <p>Please provide your login credentials.</p>

                @using (Html.BeginForm())
                {
                <div class="form-left-to-w3l ">
                    <span class="fa fa-user" aria-hidden="true"></span>

                    @Html.TextBoxFor(a => a.username, new { @Placeholder = "Enter Your Username", @class = "uname" })

                    <div class="clear"></div>

                </div>
                <p class="text-danger">@Html.ValidationMessageFor(a => a.username)</p>
                <div class="form-left-to-w3l ">

                    <span class="fa fa-lock" aria-hidden="true"></span>

                    @Html.PasswordFor(a => a.password, new { @Placeholder = "Enter Your Password" })

                    <div class="clear"></div>
                </div>
                <p class="text-danger">@Html.ValidationMessageFor(a => a.password)</p>
                <div class="main-two-w3ls">
                    <div class="left-side-forget">
                        @Html.CheckBoxFor(a => a.remember_me)
                        <span class="remenber-me">Remember me </span>
                    </div>
                    <div class="right-side-forget">
                        <a target="_blank" href="https://www.leadingedgesoft.com/contact" class="for">Forgot password...?</a>
                    </div>
                </div>
                <div class="btnn">
                    <button type="submit">Login </button>
                </div>
                }
                <div class="w3layouts_more-buttn">
                    <h3>
                        Don't Have an account..?
                        <a target="_blank" href="https://www.leadingedgesoft.com/contact">
                            Contact Us
                        </a>
                    </h3>
                </div>

            </div>
            <div class="img-right-side">
                <h3>Welcome To Leading Edge Software Admin Panel</h3>
                <p>We Deals in with different kinds of softwares.Contact Us for more details.</p>

                <img src="~/images/leading_edge.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
    <script src="~/adminside/js/jquery.min.js"></script>
    <script src="~/adminside/js/bootstrap.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.uname').focus();
        });
    </script>
</body>
</html>